<dx-popup width="50%" height="80%" [title]="title" [(visible)]="visible">
    <dx-scroll-view #scrollView id="scrollView" reachBottomText="Updating...">

        <div class="center" [hidden]="!visibleButtons">
            <div class="margin-btn">
                <dx-button icon="home" width="200px" height="65px" type="default" text="Visita"
                    (onClick)="visitaGeneral()"></dx-button>
            </div>
            <div class="margin-btn">
                <dx-button icon="fullscreen" width="200px" height="65px" type="default" text="Visita por QR"
                    (onClick)="visitaQR()"></dx-button>
            </div>
        </div>


        <div [hidden]="!visibleForm">

            <div style="margin-bottom: 10px; margin-left: 20px;">
                <dx-button text="Atras" type="default" (onClick)="change()"></dx-button>
            </div>

            <dx-form class="form-padre" class="padding-form" [(formData)]="visita"
            (onFieldDataChanged)="form_fieldDataChange($event)">

                <dxi-item dataField="idVisitante" editorType="dxSelectBox" [disabled]="disabled"
                    [label]="{text: 'Visitante'}"
                    [editorOptions]="{dataSource: visitantes,  displayExpr:'nombreCompleto', valueExpr:'id', searchEnabled: 'true',stylingMode: 'outlined' }">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>

                <dxi-item dataField="idTipoVisita" editorType="dxSelectBox" [disabled]="disabled"
                    [label]="{text: 'Tipo de Visita'}"
                    [editorOptions]="{dataSource: tiposVisitas,  displayExpr:'nombre', valueExpr:'id', searchEnabled: 'true',stylingMode: 'outlined' }">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>

                <dxi-item dataField="placa" editorType="dxTextBox" [disabled]="disabled" [label]="{text: 'Placa'}"
                    [editorOptions]="{stylingMode: 'outlined', readOnly: disabled}">
                </dxi-item>

                <dxi-item dataField="referencia" editorType="dxTextBox" [disabled]="disabled"
                    [label]="{text: 'Referencia'}" [editorOptions]="{stylingMode: 'outlined', readOnly: disabled}">
                </dxi-item>

            </dx-form>
        </div>

        <!--Component of QrReader-->
        <div [hidden]="!visibleQR" class="div-center">
            <div style="margin-bottom: 10px; margin-left: 20px; text-align: center;">
                <dx-button text="Atras" type="default" (onClick)="change()"></dx-button>
            </div>
            <app-qr-reader (QrValue)="getQrValue($event)"></app-qr-reader>
        </div>


        <br />
        <br />

        <div [hidden]="!showButtons">
            <dxi-item class="buttons">
                <dx-button class="btn-guardar" text="Guardar" type="default" (onClick)="crearVisita()">
                </dx-button>
                <dx-button text="Cancelar" type="warning" (onClick)="closeModal()"></dx-button>
            </dxi-item>
        </div>

    </dx-scroll-view>
</dx-popup>